/* ================= MOBILE ================= */

.container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
/* ================= TABLET ================= */

@media (min-width: 768px) {
  .content {
    gap: 20px;
  }
}

/* ================= DESKTOP ================= */

@media (min-width: 1024px) {
  .content {
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
  }

 
  .cards {
    width: 350px;
    flex-shrink: 0;
  }
}