.dividerAuth {
  width: calc(100% - 32px);
  height: 1px;
  background-color: #00000026;
  margin: 0 auto;
}
.authWrapper {
  width: 300px;
  height: auto;
  padding: 16px;
  padding-bottom: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.loginLink {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  width: 100%;
  height: 42px;
  background: rgba(0, 0, 0, 0.05);

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0%;
  color: #000;
}

.loginLink:hover,
.loginLink:focus {
  background: var(--color-white);
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
  transform: translateY(-1px);
}

.loginLink:active {
  transform: translateY(0);
  background: var(--color-neutral-light);
}

.registerLink {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #fef1db;
  border-bottom: 4px solid#cbbca3;
  border-radius: 100px;
  width: 100%;
  height: 42px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0%;
  color: #000;
}

.registerLink:hover,
.registerLink:focus {
  background-color: #fefbf4;
  transform: translateY(-1px);
  transition: 0.15s ease;
}

.registerLink:active {
  transform: translateY(0);
  background: var(--color-primary);
}

@media (min-width: 1440px) {
  .authWrapper {
    width: 296px;
    padding: 16px 16px 24px 0px;
  }

  .loginLink,
  .registerLink {
    height: 46px;
    font-size: 16px;
  }
}
