.authWrapper {
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 16px;
padding: 0px 16px 24px;
width: 300px;
height: 140px;
}

.loginLink {
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 8px;
border-bottom: 4px solid rgba(0, 0, 0, 0.15);
border-radius: 100px;
padding: 10px 24px;
width: 268px;
height: 42px;
background: rgba(0, 0, 0, 0.05);
}

.loginLink:hover {
  background: #fff4f6;
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
}
 
.loginLink:active {
 background: #ffcbd3;
}

.registerLink {
 display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 8px;
border-bottom: 4px solid #ffcbd3;
border-radius: 100px;
padding: 10px 24px;
width: 268px;
height: 42px;
background: #ffdae0;
font-weight: 500;
font-size: 14px;
line-height: 1.6;
color: #000;
}

.registerLink:hover {
  background-color: #fff;
  transform: translateY(-1px);
}

.registerLink:active {
  transform: translateY(0);
  background: #b2b2b2;
}

@media (min-width: 1440px) {
  .authWrapper {
  
width: 312px;
height: 92px;
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;

  }

  .loginLink,
  .registerLink {
    height: 52px;
  }
}
