.container {
  width: 100%;
  max-width: 375px;
  min-height: 100vh;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.register-right {
  display: none;
}

.logo {
  position: absolute;
  top: 21px;
  left: 24px;
}

.register-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;

  /* line-height: 43px; */
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #000;
  margin-bottom: 32px;
}

.register-additional {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.register-text {
  font-family: 'Lato', sans-serif;

  font-weight: 400;
  font-size: 14px;

  /* line-height: 21px; */
  line-height: 1.5;
  text-align: center;
  color: #000;
}

.register-link {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  color: #000;
  text-decoration: none;
}

.register-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;

  width: 0;
  height: 1px;
  background-color: #000;

  transition: width 250ms ease;
}

.register-link:hover::after,
.register-link:focus::after {
  width: 100%;
}

.register-link:active {
  color: #ffcbd3;
}

.register-link:active::after {
  width: 100%;
  background-color: #ffcbd3;
}

.register-link:disabled,
.register-link.disabled {
  color: #bdbdbd;
  pointer-events: none;
}

.register-link:disabled::after,
.register-link.disabled::after {
  display: none;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .register-right {
    display: none;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: none;
    width: 100%;
    min-height: 100vh;
    padding: 0;
  }

  .register-wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
  }

  .register-left {
    width: 50%;
    min-height: 100vh;
    padding: 72px 64px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .register-page {
    width: 100%;
  }

  .register-right {
    display: block;
    width: 50%;
    min-height: 100vh;
  }

  .register-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .logo {
    left: 135;
  }

  .register-title {
    font-size: 48px;
  }
}
