.containerSB {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.statCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border: 1px solid #00000026;
  border-radius: 32px;
  background-color: var(--color-primary-lightest);
  padding: 16px;
  gap: 4px;
}
.title {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  color: var(--color-black);
}
.value {
  font-family: var(--second-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1%;
  color: var(--color-black);
}
@media screen and (min-width: 768px) {
  .containerSB {
    gap: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .statCard {
    height: 127px;
  }
  .title {
    font-size: 16px;
  }
  .value {
    font-size: 56px;
  }
}
