.login-form {
  display: flex;
  flex-direction: column;
  max-width: 335px;
  width: 100%;
  margin: 0 auto 24px;
}

.login-wrapper {
  margin-bottom: 24px;
}

.login-wrapper:has(.login-error) .login-input:not(:focus) {
  border: 1px solid #c60000;
}

.login-label {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

.login-input {
  font-family: 'Lato', sans-serif;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 12px;
  padding-block: 8px;
  padding-inline: 12px;
  width: 100%;
  height: 37px;
  margin-bottom: 4px;
  background: rgba(0, 0, 0, 0.05);
  transition: border 250ms;
  outline: none;
}

.login-input:hover,
.login-input:focus {
  border: 2px solid #ffcbd3;
}

.login-input::placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
}

.login-btn {
  border-bottom: 4px solid #feeccc;
  border-radius: 100px;
  padding-block: 10px;
  padding-inline: 24px;
  width: 100%;
  height: 42px;
  background-color: #fef1db;
  -webkit-tap-highlight-color: transparent;
  transition:
    background-color 300ms,
    border-bottom-color 300ms;
}

.login-btn:disabled {
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.05);
  opacity: 0.3;
  color: #000;
  cursor: not-allowed;
}

.login-btn:not(:disabled):hover,
.login-btn:not(:disabled):focus {
  background-color: #fefbf4;
  border-bottom-color: rgba(0, 0, 0, 0.15);
}

.login-error {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  color: #c60000;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .login-form {
    max-width: 480px;
  }
}

.loader {
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
