 /* ========= WRAPPER ========= */

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  align-items: flex-start; /* з ліва  */
}

/* ========= CARD ========= */

.card {
  width: 100%;
  max-width: 650px;
  background-color: #FEFBF4;
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
}

/* ========= TITLE ========= */

.subtitle {
  font-size: 18px;
  font-weight: 600;
  color: #2f2f2f;
}

/* ========= STATES ========= */

.states {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.stateItem {
  font-size: 13px;
  padding: 6px 14px;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid #f0e6d2;
}

/* ========= TEXT ========= */

.text {
  font-size: 15px;
  line-height: 1.6;
  color: #4a4a4a;
}

/* ========= TIPS ========= */

.tipItem {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* заголовок з іконкою */
.tipTitle {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 15px;
  font-weight: 600;
  color: #2f2f2f;
}

/* іконка */
.tipTitle img {
  width: 20px;
  height: 20px;
}

/* текст поради */
.tipText {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
}

/* ========= RESPONSIVE ========= */

@media (min-width: 768px) {
  .wrapper {
   
    
  }
  .card {
    padding: 18px;
    border-radius: 18px;
    max-width: 680px;
  }

  .subtitle {
    font-size: 16px;
  }

  .text {
    font-size: 14px;
  }

  .tipText {
    font-size: 13px;
  }
}