/* ========= MOBILE ========== */

.card {
  background-color: var(--color-primary); 
  border-radius: 20px;
  padding: 16px;
}

/* заголовок */
.title {
  font-family: var(--second-family);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;

  color: var(--color-neutral-dark);
}

/* layout */

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* IMAGE */

.imageWrapper {
  background-color: var(--color-neutral-lightest);
  border-radius: 16px;

  padding: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  max-width: 220px;
  height: auto;
  object-fit: contain;
}

/* TEXT */

.textBlock {
  display: flex;
  flex-direction: column;
}

.description {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.5;

  color: var(--color-neutral-dark);

  margin-bottom: 12px;
}

.size {
  font-family: var(--font-family);
  font-size: 14px;

  margin-bottom: 12px;
}

.label {
  font-weight: 600;
}

.subtitle {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 600;

  margin-bottom: 8px;
}

/* FACTS */

.list {
  padding-left: 16px;
}

.listItem {
  font-family: var(--font-family);
  font-size: 14px;

  margin-bottom: 6px;
  color: var(--color-neutral-dark);
}

/* ============ TABLET ============ */

@media (min-width: 768px) {
  .card {
    padding: 20px;
  }

  .title {
    font-size: 20px;
  }

  .image {
    max-width: 260px;
  }

  .description {
    font-size: 15px;
  }

  .listItem {
    font-size: 15px;
  }
}

/* =========== DESKTOP ============= */

@media (min-width: 1280px) {
  .card {
    padding: 24px;
    border-radius: 24px;
  }

  .title {
    font-size: 22px;
    margin-bottom: 16px;
  }

  .content {
    flex-direction: row;
    gap: 24px;
  }

  .imageWrapper {
    width: 45%;
    padding: 20px;
    border-radius: 20px;
  }

  .textBlock {
    width: 55%;
  }

  .image {
    max-width: 100%;
  }

  .description {
    font-size: 16px;
  }

  .subtitle {
    font-size: 16px;
  }

  .listItem {
    font-size: 15px;
  }
}