.divider {
  width: calc(100% - 32px);
  height: 1px;
  background-color: #00000026;
  margin: 0 auto;
}
.wrapperContent {
  width: 300px;
  height: auto;
  padding: 16px;
  padding-bottom: 24px;
}

.userInfo {
  display: flex;
  align-items: center;
}
.userData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.textData {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
  width: 100%;
  flex-grow: 1; /* Дозволяє блоку займати весь вільний простір */
}

.userName {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0%;
  color: var(--color-black);
}

.userEmail {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0%;
  color: var(--color-black);
}

.logoutBtn {
  padding: 8px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: none;
  flex-shrink: 0;
}

.logoutBtn svg {
  width: 24px;
  height: 24px;
}

.logoutBtn:hover .icon_logout,
.logoutBtn:focus .icon_logout {
  stroke: #00000026;
}
.logoutBtn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@media (min-width: 1440px) {
  .wrapperContent {
    width: 296px;
    height: auto;
    padding: 24px 0;
    padding-right: 16px;
  }
  .userData {
    gap: 12px;
  }
  .userName {
    font-size: 14px;
  }
  .userEmail {
    font-size: 14px;
  }
}