.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  height: 92px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  margin-top: auto;
  background-color: #c29494;
}
.wrapperContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 40px;

  background-color: #d49696;
}

.userInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 100%;

  background-color: rgb(255, 255, 255);
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ff6b6b;

  flex-shrink: 0;
}

.textData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: #ffd86b;

  margin-left: 12px;
  margin-right: 12px;

  height: 100%;
  width: 188px;

  flex-grow: 1; /* Дозволяє блоку займати весь вільний простір */
  min-width: 0;
}

.userName {
  font-size: 16px;
  font-weight: 700;
  color: #333333;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.userEmail {
  color: #757575;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
}

.logoutBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;

  flex-shrink: 0;
}

.logoutBtn svg {
  width: 24px;
  height: 24px;
}

.logoutBtn:hover {
  background-color: #ffc5c5;
  color: #ffffff;
}

.logoutBtn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  border-color: #ccc;
  color: #ccc;
}

.loader {
  width: 18px;
  height: 18px;
  border: 2px solid currentColor;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 1440px) {
  .wrapper {
  }

  .avatar {
  }
}
