@import 'modern-normalize';

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 375px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* ✅ додала пропущений діапазон */
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1128px; 
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 16px;
    max-width: 1440px;
  }
}
:root {
  --font-family: 'Lato', sans-serif;
  --second-family: 'Comfortaa', sans-serif;
}

:root {
  --color-white: #fff;
  --color-black: #000;

  --color-neutral-lightest: #f2f2f2;
  --color-neutral-light: #b2b2b2;
  --color-neutral: #7f7f7f;
  --color-neutral-dark: #4c4c4c;

  --color-red: #c60000;

  --app-background: var(--color-white);
}

/* 🟡 default */
:root {
  --color-primary: #feeccc;
--color-primary-light  : #fef1db;
  --color-primary-dark: #cbbca3;
  --color-primary-lightest: #fefbf4;
}

/* 🌸 girl */
body.theme-pink {
  --color-primary: #ffcbd3;
  --color-primary-light: #fff4f6;
  --color-primary-dark: #cca2a8;
}

/* 🔵 boy */
body.theme-blue {
  --color-primary: #adeffe;
  --color-primary-light: #e5fafe;
  --color-primary-dark: #98c1cb;
}

body {
  font-family: var(--font-family);
  background-color: var(--app-background);
  color: var(--color-black);
}


.pageContainer {
  background: #f5f5f5;
  min-height: 100vh;
}

.contentContainer {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

