.dashboard {
  padding-top: 16px;
}
.rightColumn {
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .dashboard {
    padding-left: 12px;
    padding-right: 12px;
  }
  .rightColumn {
    margin-top: 48px;
  }
}
@media screen and (min-width: 1440px) {
  .dashboard {
    padding: 16px 16px 32px 32px;
  }
  .contentDB {
    display: grid;
    grid-template-columns: 1fr 390px;
    gap: 32px;
  }

  .leftColumn {
    min-width: 642px;
    display: flex;
    flex-direction: column;
  }

  .rightColumn {
    margin-top: 16px;
    gap: 24px;
  }
}
