@media screen and (min-width: 1440px) {
  .content {
    display: grid;
    grid-template-columns: 1fr 390px;
    gap: 32px;
  }

  .leftColumn {
    min-width: 642px;
    display: flex;
    flex-direction: column;
    /* gap: 18px; */
  }

  .rightColumn {
    display: flex;
    flex-direction: column;
    /* gap: 18px; */
  }
}
