.greeting {
  width: 100%;
  margin: 0 auto;
  height: auto;
  overflow: visible;
}

@media screen and (min-width: 1440px) {
  .dashboard {
    padding: 32px;
    padding-top: 16px;
  }
  .contentDB {
    /* padding: 0 12px; */
    display: grid;
    grid-template-columns: 1fr 390px;
    gap: 32px;
  }

  .leftColumn {
    min-width: 642px;
    display: flex;
    flex-direction: column;
    /* gap: 18px; */
  }

  .rightColumn {
    display: flex;
    flex-direction: column;
    /* gap: 18px; */
  }
}
