.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  position: absolute; /* 🔥 замість fixed */
  top: 0;
  left: 0;
  padding: 0px;
  height: 100vh;
  width: 300px;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;

  transition:
    transform 0.3s ease,
    opacity 0.3s ease,
    visibility 0s linear 0.3s; /* 🔥 затримка */

  background-color: #fff;
  z-index: 1000;
}

/* відкритий стан */

.sidebar.open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;

  transition:
    transform 0.3s ease,
    opacity 0.3s ease,
    visibility 0s; /* без затримки */
}
.menuTop {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-direction: row;
  padding: 16px 24px;
  width: 100%;
  height: 77px;
}

.closeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.closeIcon {
  width: 32px;
  height: 32px;
  stroke: var(--color-black);
  fill: none;
}

.logo {
  width: 105px;
  height: 45px;
}
.topContent {
  padding: 0px 16px;
  width: 100%;
  height: 100%;
}

.navItem {
  height: 40px;
  width: 100%;
  padding: 8px;
}
.link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 12px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0%;
  color: #000;
}
.active {
  height: 40px;
  width: 100%;
  padding: 8px;

  background-color: var(--color-primary-light);
  border-radius: 8px;
}

.bottomContent {
  margin-top: auto;
}

@media (min-width: 1440px) {
  .sidebar {
    position: static;
    transform: none;
    opacity: 1;
    visibility: visible;
    width: 312px;
    left: 0;
    top: 0;
    border-right: 1px solid #00000026;
    padding-top: 8px;
  }
  .menuTop {
    padding: 16px;
    padding-left: 8px;
  }
  .closeBtn {
    display: none;
  }
  .topContent {
    padding-top: 8px;
    padding-right: 16px;
    width: 100%;
    height: 100%;
  }
}
