.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  position: absolute; /* 🔥 замість fixed */
  top: 0;
  left: 0;
  padding: 8px 0px 0px;
  height: 100vh;
  width: 312px;

  transform: translateX(-100%);
  transition: transform 0.3s ease;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fff;
  z-index: 1000;
}
/* відкритий стан */
.open {
  transform: translateX(0);
}
.menuTop {
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 10px;
padding: 16px;
width: 312px;
height: 64px;
}
.logo {
width: 105px;
height: 45px;;
}
.topContent {
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 16px;
padding: 0px 16px;
width: 300px;
height: 683px;
}
.navigation {
background-color: #fff;
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 0px;
width: 268px;
}

.link {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 40px;

  border-radius: 8px;
  color: #333;
  transition: color 0.2s;
}

.active {
  display: flex;
  align-items: center;
  background-color: #fcf4b9;
  height: 40px;

  border-radius: 8px;
}

.bottomContent {
  margin-top: auto;
}

.icon {
  margin-left: 8px;
  margin-right: 12px;
}

@media (max-width: 1439px) {
  .sidebar {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    height: 100vh;

    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;

    transition:
      transform 0.3s ease,
      opacity 0.3s ease,
      visibility 0s linear 0.3s; /* 🔥 затримка */
  }

  .sidebar.open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;

    transition:
      transform 0.3s ease,
      opacity 0.3s ease,
      visibility 0s; /* без затримки */
  }
}

@media (min-width: 1440px) {
  .sidebar {
    position: static;
    transform: none;
    width: 312px;
    left: 0;
    top: 0;
  }
}
