.sidebar {
  display: flex;
  flex-direction: column;

  position: absolute; /* 🔥 замість fixed */
  top: 0;
  left: 0;

  padding-top: 17.5px;

  height: 100vh;
  width: 312px;

  transform: translateX(-100%);
  transition: transform 0.3s ease;

  background-color: #afacac;
  z-index: 1000;

  border-right: 1px solid #eee;
}
/* відкритий стан */
.open {
  transform: translateX(0);
}
.menuTop {
  display: flex;
  align-items: center;
  height: 64px;
  background-color: #5d2626;

  padding-left: 24px;
}
.logo {
  background-color: rgb(141, 102, 102);
}
.topContent {
  display: flex;
  flex-direction: column;
  background-color: #3f3f3f;
}
.navigation {
  background-color: #b6c26d;

  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
.navigation ul {
  background-color: aqua;
}

.link {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 40px;

  border-radius: 8px;
  color: #333;
  transition: color 0.2s;
}

.active {
  display: flex;
  align-items: center;
  background-color: #fcf4b9;
  height: 40px;

  border-radius: 8px;
}

.bottomContent {
  margin-top: auto;
}

.icon {
  margin-left: 8px;
  margin-right: 12px;
}

@media (max-width: 1439px) {
  .sidebar {
    width: 300px;
    left: 0;
    top: 0;

    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;

    transition:
      transform 0.3s ease,
      opacity 0.3s ease,
      visibility 0s linear 0.3s; /* 🔥 затримка */
  }

  .sidebar.open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;

    transition:
      transform 0.3s ease,
      opacity 0.3s ease,
      visibility 0s; /* без затримки */
  }
}

@media (min-width: 1440px) {
  .sidebar {
    position: static;
    transform: none;
    width: 312px;
    left: 0;
    top: 0;
  }
}
