.pageContainer {
  border-radius: 32px;
  background-color: var(--color-primary-lightest);
  padding: 24px;
  height: 100%;
}
.head {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.heading {
  display: flex;
  align-items: center;
  gap: 8px;
}
.title {
  font-family: var(--second-family);
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.01em;
}
.editBtn,
.deleteBtn {
  border: none;
  padding: 0;
  background-color: transparent;
}
.dateBlock {
  display: flex;
  align-items: center;
  gap: 8px;
}
.date {
  font-size: 12px;
  line-height: 1.6;
}
.description {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 8px;
}
.emotions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.emotion {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  padding: 4px 10px;
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  .head {
    flex-direction: row;
    justify-content: space-between;
  }
  .title {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .title {
    font-size: 20px;
  }

  .date {
    font-size: 14px;
  }
  .description {
    font-size: 16px;
  }
  .emotion {
    font-size: 14px;
  }
}
