.dairyPage {
  padding: 0 0 32px;
}
.greeting {
  margin-top: 16px;
}
.pageContainer {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .dairyPage {
    padding-right: 12px;
    padding-left: 12px;
  }
}
@media screen and (min-width: 1440px) {
  .dairyPage {
    padding: 0 16px 32px 32px;
  }

  .pageContainer {
    gap: 32px;
    grid-template-columns: 389px 1fr;
  }
  .fullScreen {
    grid-template-columns: 1fr;
    height: 100vh;
  }
}
