.breadcrumbsContainer {
  font-family: var(--second-family), sans-serif;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding-left: 0px;

  flex-wrap: nowrap; /* ❗ забороняє перенос */
  overflow-x: auto; /* якщо не влазить — можна скролити */

  white-space: nowrap; /* ❗ текст теж не переноситься */

  background-color: rgb(255, 255, 255);
}

.current {
  font-weight: 600;
  color: black;

  background-color: rgb(255, 255, 255);
}

.separator {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin: 0 8px; /* відступи між елементами */
}

.separator svg {
  width: 16px;
  height: 16px;

  transform: rotate(270deg); /* замість rotate */
  fill: currentColor; /* щоб підхоплював колір тексту */

  background-color: rgb(255, 255, 255);
}

@media (min-width: 1440px) {
  .breadcrumbsContainer {
    padding-left: 32px;
  }
}
