.breadcrumbs {
  width: 100%;
}

.breadcrumbsContainer {
  font-family: var(--second-family), sans-serif;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding-left: 0px;

  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;

  background-color: rgb(255, 255, 255);
}

.brand {
  display: inline-flex;
  align-items: center;
  min-height: 24px;
  font-family: var(--font-lato), sans-serif;
  font-weight: 400;
  font-size: var(--text-size-small, 14px);
  line-height: 160%;
  letter-spacing: 0;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.item {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.link {
  display: inline-flex;
  align-items: center;
  min-height: 24px;
  font-family: var(--font-lato), sans-serif;
  font-weight: 400;
  font-size: var(--text-size-small, 14px);
  line-height: 160%;
  letter-spacing: 0;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.current {
  display: inline-flex;
  align-items: center;
  min-height: 24px;
  font-family: var(--font-lato), sans-serif;
  font-weight: 400;
  font-size: var(--text-size-small, 14px);
  line-height: 160%;
  letter-spacing: 0;
  text-align: center;
  color: #7f7f7f;

  background-color: rgb(255, 255, 255);
}

.separator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 24px;

  margin: 0 8px;
}

.separator svg {
  width: 24px;
  height: 24px;

  transform: rotate(270deg);
  fill: currentColor;

  background-color: rgb(255, 255, 255);
}

@media (min-width: 1440px) {
  .breadcrumbsContainer {
    padding-top: 24px;
    padding-left: 32px;
  }
}
