.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* або 100% для блоку */
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* опціонально */
}