.container {
  background-color: #fefbf4;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #000;
}
.addButton {
  border: none;
  border-radius: 100px;
  height: 26px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
}
.icon {
  fill: #000;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.empty {
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1440px) {
}
