.headercontainer {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;

  background-color: rgb(255, 255, 255);
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;
  background-color: rgb(255, 255, 255);
}

.icon {
  width: 32px;
  height: 32px;
}

@media (min-width: 1440px) {
  .headercontainer {
    display: none;
  }
}
